.ChatPostMessage {
    display:-webkit-flex;
    display:flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    height:100%;
    margin:10px;
}
.ChatPostMessage-send
{
    vertical-align:middle;
}
.ChatPostMessage-message
{
    flex: 1;
    -webkit-flex:1;
    height: 100%;
    padding-bottom: 3px;
}